{% extends './base.html' %}
{% block content %}
<h2>Recipe Requirements</h2>
<a href="{% url 'reciperequirementcreate' %}"><button class="btn">Add Recipe Requirements</button></a>
<table id="recipe_requirements">
  <tr>
    <th>Menu Item</th>
    <th>Ingredient</th>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Unit Price</th>
  </tr> 
	<tr>
  {% for reciperequirement in reciperequirement_list %}
  </tr>
  <tr>
      <td style="text-align:center">{{ reciperequirement.menu_item }}</td>
      <td style="text-align:center">{{ reciperequirement.ingredient }}</td>
      <td style="text-align:center">{{ reciperequirement.quantity }}</td>
      <td style="text-align:center">{{ reciperequirement.ingredient.unit }}</td>
      <td style="text-align:center">{{ reciperequirement.ingredient.unit_price }}</td>
      <td><a href="{% url 'reciperequirementupdate' reciperequirement.id %}"><button>Edit</button></a></td>
      <td><a href="{% url 'reciperequirementdelete' reciperequirement.id %}"><button>Delete</button></a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}