{% extends './purchase_list.html' %}
{% block content %}
{% load static %}
<h2>Purchase List</h2>
<a href="{% url 'purchasecreate' %}"><button class="btn">Add a Purchase</button></a>
<table id="purchases">
  <tr>
    <th>Menu Item</th>
    <th>Price</th>
    <th>Timestamp</th>
  </tr> 
  {% for purchase in purchase_list %}
    <tr>
      <td>{{ purchase.menu_item.title }}</td>
      <td>{{ purchase.menu_item.price }}</td>
      <td>{{ purchase.timestamp }}</td>
      <td><a href="{% url 'purchaseupdate' purchase.id %}"><button>Edit</button></a></td>
      <td><a href="{% url 'purchasedelete' purchase.id %}"><button>Delete</button></a></td>
    </tr>
  {% endfor %}
</table>
<h2>Totals</h2>
<div>Total Revenue: ${{ revenue }}</div>
<div>Total Cost: ${{ total_cost }}</div>
<div>Total Profit: ${{ profit }}</div>
{% endblock %}